@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 90rem;
    margin: 0 auto;
    padding: 1.5rem;
}
.btn{
    background-color:transparent;
    padding:0.2rem 1rem;
    border-radius: 3rem;
    border:1px solid #2b2b2b;
}

.btn.bg--itim{
    border:none;
    background:#000000;
}

@layer components{
    .header{
        @apply bg-pink-200 w-full
    }
    .header .header__wrapper{
        @apply flex items-center justify-between
    }
    .header .toggle__menu{
        @apply flex flex-col gap-[.3rem]
    }
    .header .toggle__menu span{
        @apply w-[2rem] h-[.2rem] bg-puti
    }
    .header .header__nav{
        @apply absolute right-[-21.1rem] top-[5.5rem] bg-blue-300 leading-[3rem] text-[1.2rem] w-[70%] h-full transition-all px-[2rem] py-[2.5rem]
    }   
    .header .header__nav.open{
        @apply right-0 transition-all
    }
}