@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-family: Monserrat;
	src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff");
}
@font-face{
	font-family: Monserrat1;
	src: url("../fonts/Montserrat-VariableFont_wght.woff");
}


.container {
	max-width: 90rem;
	margin: 0 auto;
	padding: 1.5rem;
}
.btn {
	background-color: transparent;
	padding: 0.2rem 1rem;
	border-radius: 3rem;
	border: 1px solid #2b2b2b;
}
.btn:hover {
	background-color: hsl(240, 1.51%, 90%);
}

.btn.bg--itim {
	border: none;
	background: #000000;
}
.btn.bg--itim:hover {
	background-color: hsl(240, 1.51%, 20%);
}
.btn.bg--green {
	background: #1e3932;
	color: #ffffff;
	border: 1px solid #ffffff;
}
.btn.bg--green:hover {
	background-color: #006341;
}
.btn.bg--lasalle {
	background: #006341;
	color: #ffffff;
	border: 1px solid #ffffff;
}
.btn.bg--lasalle:hover {
	background: #006320;
}

.btn.bg--transparent{
	background:transparent;
	border: 1px solid black;
}
.btn.bg--transparent--white{
	background:transparent;
	border: 1px solid white;
}
.btn.bg--transparent--white:hover{
	transform: scale(1.1);
	border: 1px solid white;
}
.btn.bg--transparent:hover{
	transform: scale(1.1);
	border: 1px solid black;
}

@layer components {
	/*------HEADER-----*/

	.header {
		background: #ffffff;
		position: relative;
		position: fixed;
		width: 100%;
		z-index: 99999;
	}
	.header .header__wrapper {
		@apply flex items-center justify-between
        lg:flex-row lg:justify-between;
	}
	.header .branding img {
		@apply lg:w-[3rem];
	}
	.header .branding {
		@apply lg:flex lg:flex-row lg:gap-[1.5rem];
	}
	.header .toggle__menu {
		@apply flex flex-col gap-[.3rem] px-[0.5rem] py-[0.8rem] rounded-full
        lg:hidden;
	}
	.header .toggle__menu:hover {
		@apply bg-[#ebebeb];
	}
	.header .toggle__menu span {
		@apply w-[1.5rem] h-[.15rem] bg-maitim rounded-full;
	}
	.header .header__nav {
		@apply absolute bg-puti right-[-100rem] top-[5.5rem] leading-[3.5rem] text-[1.2rem] w-[70%] h-[100vh] transition-all px-[2rem] py-[2.5rem]
        lg:static lg:flex lg:w-fit lg:p-0 lg:gap-3 lg:uppercase lg:text-[1rem] lg:font-[600] lg:h-fit;
	}
	.header .header__nav li:hover {
		@apply text-lasalle;
	}
	.header .header__nav.open {
		@apply right-0 transition-all;
	}
	.header .header__nav .second {
		@apply border-t-[1px]
        lg:hidden;
	}
	.header .header__nav .second li:first-child a i {
		@apply mr-2;
	}
	.header .header__actions {
		@apply hidden 
        lg:flex lg:flex-row lg:gap-[1.5rem];
	}
	.header .header__actions li:first-child a i {
		@apply lg:mr-2;
	}
	.header .header__actions li:first-child:hover {
		@apply lg:text-lasalle;
	}
	.header .toggle__menu.open span {
		@apply transition-all;
	}
	.header .toggle__menu.open span:first-child {
		@apply rotate-45 translate-y-[0.45rem];
	}
	.header .toggle__menu.open span:last-child {
		@apply -rotate-45;
	}
	.header .toggle__menu.open span:nth-child(2) {
		@apply hidden;
	}
	.buhok.open {
		@apply h-[100vh] w-[100%] absolute left-0 top-[5.5rem] bg-maitim opacity-[.5] transition-all;
	}

	/*------BANNER-----*/

	.banner {
		background-image: url('./img/rewards/star.png');
		background-size: cover;
		background-color: #d0eae4;
		height: 550px;
		background-position-y: 15rem;
		background-repeat: no-repeat;
		text-align: center;

		@media screen and (min-width: 1024px) {
			background-position-y: 5rem;
			background-size: contain;
			background-position-x: 70rem;
			height: 800px;
			text-align: unset;
			display: flex;
			align-items: center;
		}
	}
	.banner__content h1 {
		@apply text-[1.5rem] w-[12rem] mx-auto font-bold
        lg:mx-0 lg:w-[14.5rem] lg:text-[2rem];
	}
	.banner__content p {
		@apply text-[1rem];
	}
	.banner__content {
		@apply flex flex-col gap-[1rem];
	}
	.banner__content a {
		@apply w-[7rem] mx-auto lg:mx-0 p-[0.5rem] text-center font-medium;
	}
	.banner__content span a {
		@apply underline mx-auto
	}
	.banner__content span a:hover{
		@apply lg:no-underline
	}

	/*------EASY--------*/

	.easy {
		@apply bg-puti;
	}
	.easy .container {
		@apply py-[4rem]
        lg:px-[3rem] lg:py-[7rem];
	}
	.easy__wrapper {
		@apply flex flex-col gap-[1.5rem] justify-center items-center
        lg:gap-[5rem];
	}
	.easy__section {
		@apply flex flex-col gap-[1.8rem]
        lg:grid lg:grid-cols-[_1fr,_1fr,_1fr];
	}
	.easy__title {
		@apply flex flex-col gap-[1rem] text-center;
	}
	.easy__title h2 {
		@apply text-[1.5rem] font-medium
        lg:text-[2rem];
	}
	.easy__content {
		@apply flex gap-[1rem] items-start
        lg:flex lg:flex-col lg:text-center lg:gap-[2rem] lg:px-[3rem] lg:items-center;
	}
	.easy__text h2 {
		@apply font-semibold pb-[0.5rem] border-transparent
        lg:pb-[1.4rem];
	}
	.easy__text span a {
		@apply underline text-lasalle;
	}
	.easy__text span a:hover{
		@apply lg:no-underline
	}
	.easy__content h3 {
		@apply border-2 border-lasalle rounded-full py-2 px-5 text-[1.5rem] text-lasalle;
	}
	/*------EXTRAS--------*/

	.extras {
		@apply bg-puti;
	}
	.extras .container {
		@apply py-[4rem]
        lg:px-[3rem] lg:py-[7rem];
	}
	.extras__wrapper {
		@apply flex flex-col gap-[3rem] justify-center items-center
        lg:gap-[5rem];
	}
	.extras__section {
		@apply flex flex-col gap-[3rem]
        lg:grid lg:grid-cols-[_1fr,_1fr,_1fr];
	}
	.extras__title {
		@apply flex flex-col gap-[1rem] text-center;
	}
	.extras__title h2 {
		@apply text-[1.8rem] font-medium
        lg:text-[2rem];
	}
	.extras__title p {
		@apply text-[0.9rem]
        lg:text-[1rem] lg:w-[42rem]
	}
	.extras__content {
		@apply flex gap-[1rem] items-start
        lg:flex lg:flex-col lg:text-center lg:gap-[2rem] lg:items-center
	}
	.extras__text {
		@apply flex flex-col gap-[0.8rem]
	}
	.extras__text p {
		@apply text-[0.9rem]
        lg:text-[1rem] lg:w-[25rem]
	}
	.extras__text a {
		@apply underline text-lasalle lg:w-fit lg:mx-auto
        lg:font-semibold
	}
	.extras__text a:hover {
		@apply lg:no-underline
	}
	.extras__text h2 {
		@apply font-semibold pb-[0.5rem] border-transparent
        lg:text-[1.3rem]
	}
	.extras__content img {
		@apply w-[6.5rem]
	}
	/*------MGA-KALBO-----*/

	.kalbo {
		@apply bg-puti;
	}
	.kalbo__wrapper {
		@apply bg-gray-500 py-[2rem];
	}
	.kalbo__nav {
		@apply max-w-[25rem] flex flex-wrap gap-[2rem] mx-auto justify-center bg-gray-500;
	}
	.kalbo__nav li.active {
		@apply bg-blue-400;
	}
	.kalbo__nav li {
		@apply p-[.5rem] rounded-md text-puti;
	}
	.kalbo__item__content {
		@apply hidden;
	}
	.kalbo__item__content img {
		@apply w-[10rem] h-auto rounded-full bg-lasalle px-[1rem];
	}
	.kalbo__item__content.active {
		@apply flex gap-[2rem] items-center justify-center;
	}
	.kalbo__desc__wrapper {
		@apply bg-gray-400 p-[2rem];
	}
	.kalbo__text h2 {
		@apply text-[1.5rem] font-bold;
	}
	.kalbo__text table tr {
		@apply h-[5rem] flex flex-col;
	}
	.kalbo__text table tr td:first-child {
		@apply font-semibold;
	}

	/*------FAVES-----*/

	.fave__wrapper {
		@apply bg-medyolasalle flex flex-col gap-[2rem] w-full pt-[2rem];
	}
	.fave__wrapper h2 {
		@apply text-center text-[1.5rem] font-bold;
	}
	.fave__desc__wrapper {
		@apply bg-medyolasalle2 h-[400px] relative
        lg:h-[250px]
	}
	.fave__text {
		@apply flex flex-col gap-[1rem] text-center
        lg:max-w-[30rem] lg:text-left lg:px-[2rem]
	}
	.fave__text h2 {
		@apply text-[1.2rem] font-bold;
	}
	.fave__item__content {
		@apply p-[1.rem] absolute top-[4rem] opacity-0 ease-in duration-300
        lg:flex lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:max-w-[50rem] lg:top-[8rem]
	}
	.fave__desc__wrapper .fave__item__content:nth-child(3){
		@apply lg:translate-y-7
	}
	.fave__desc__wrapper .fave__item__content:nth-child(4){
		@apply lg:translate-y-7
	}
	.fave__desc__wrapper .fave__item__content:nth-child(5){
		@apply lg:translate-y-7
	}
	.fave__item__content.active {
		@apply opacity-[1] ease-in duration-[.5s] top-0
		lg:flex lg:flex-row lg:items-center
	}
	/* .fave__item__content.active {
		@apply block
        lg:flex lg:items-center justify-center
	} */
	.fave__item__content img {
		@apply mx-auto
        lg:mx-0 lg:w-[20rem]
	}
	.fave__nav {
		@apply flex flex-wrap mx-auto justify-center text-[1.25rem] font-semibold
        lg:font-semibold lg:text-[1.2rem] lg:max-w-[35rem]
	}
    .fave__nav li{
        @apply p-[1.2rem] relative
    }
    .fave__nav li:after{
        @apply content-[''] w-0 h-[3px] bg-lasalle block absolute bottom-0 left-0 origin-bottom-left ease-in duration-[0.5s]
    }
    .fave__nav li.active:after{
        @apply w-full
    }
	.lin__link {
		@apply hidden;
	}
	.lin__link.active {
		@apply block;
	}

    /*--------CASH--------*/
    .cash{
        @apply bg-beige
    }
    .cash__wrapper{
        @apply flex flex-col gap-[4rem]
    }
    .cash__title{
        @apply text-center flex flex-col gap-[1rem] pt-[3rem]
    }
    .cash__title h2{
        @apply font-semibold text-[1.5rem]
    }
    .cash__title p{
        @apply text-[0.8rem]
    }
    .cash__row{
        @apply flex flex-col gap-[3rem] pb-[3rem] 
		lg:flex lg:flex-row lg:gap-[4rem]
    }
    .cash__row:not(:last-child){
        @apply border-b-[1px] border-gray-300
    }
    .cash__card{
        @apply flex gap-[1rem]
    }
    .cash__text h2{
        @apply font-bold
    }
    .cash__text p{
        @apply text-[0.9rem]
		lg:w-[20rem] lg:text-[1.1rem]
    }
    .cash__card img{
        @apply w-[7.5rem]
    }
    .cash__item h2{
        @apply font-bold text-[1.2rem] lg:w-[10rem] lg:text-[1.5rem]
    }
    .cash__text{
        @apply flex flex-col gap-[1rem]
    }
    .cash__section{
        @apply flex flex-col gap-[2rem]
    }

	/*---------DELTA---------*/
	.delta{
		@apply lg:bg-omsim lg:p-[2rem] lg:bg-cover
	}
	.delta__wrapper{
		@apply flex flex-col gap-[1.5rem]
		lg:flex lg:flex-row lg:items-center lg:justify-center bg-medyolasalle2 
	}
	.delta__wrapper img{
		@apply w-[7rem]
		lg:hidden
	}
	.delta__content{
		@apply flex flex-col gap-[1rem] text-center p-[1.5rem] lg:py-[1rem] lg:px-[5rem]
	}
	.delta__content span{
		@apply text-[1rem] lg:text-[1rem] lg:w-[33rem] lg:mx-auto
	}
	.delta__content a{
		@apply underline text-lasalle
	}
	.delta__content a:hover{
		@apply lg:no-underline
	}
	.delta__content #rew{
		@apply no-underline text-[1.2rem] font-semibold py-[0.5rem]
	}
	.delta__content h2{
		@apply text-[2rem] font-semibold w-[20rem] mx-auto lg:w-full
	}
	.delta__content p{
		@apply text-[1rem] lg:text-[1rem] lg:w-[33rem] lg:mx-auto
	}
	.delta__content .image1 img{
		@apply w-[12rem] mx-auto block
	}
	.delta__content a{
		@apply mx-auto
	}
	.delta__wrapper #left{
		@apply hidden lg:block lg:w-[20rem]
	}
	.image2{
		@apply flex justify-end
	}
	.image2 #left2{
		@apply hidden lg:block lg:w-[20rem]
	}

	/*-----------QS----------------*/
	.q{
		@apply bg-puti 
	}
	.q__wrapper{
		@apply py-[3rem] lg:px-[10rem] lg:py-[5rem]
	}
	.q__wrapper h2{
		@apply text-[1.5rem] font-semibold pb-[1.5rem] lg:text-[2rem]
	}
	.q__wrapper span{
		@apply text-[0.9rem] lg:text-[1rem]
	}
	.q__wrapper span a{
		@apply text-lasalle underline
	}
	.q__wrapper span a:hover{
		@apply lg:no-underline
	}
	.q__wrapper span a i{
		@apply no-underline
	}
	
	/*----------RESTRICTIONS-----------*/
	.res{
		@apply bg-medyomaputi
	}
	.res__wrapper{
		@apply py-[0.5rem]
	}
	.res__wrapper a:hover{
		@apply lg:no-underline
	}
	.res__header{
		@apply text-[0.8rem] flex flex-col gap-[1rem] lg:gap-[0.5rem]
		lg:text-[0.9rem]
	}
	.res__header a{
		@apply text-lasalle underline
	}
	.res__content{
		@apply flex flex-col gap-[1.8rem]
		lg:grid lg:grid-cols-2 lg:py-[2rem]
	}
	.res__content p{
		@apply text-[0.8rem]
		lg:text-[0.9rem]
	}
	.res__content span{
		@apply text-[0.8rem]
		lg:text-[0.9rem]
	}
	.res__content h2{
		@apply text-semento font-semibold text-[1rem]
		lg:font-bold
	}
	.res__content span a{
		@apply text-lasalle underline
	}
	.earn{
		@apply flex flex-col gap-[1rem] pt-[1.5rem]
		lg:pt-0
	}
	.term{
		@apply flex flex-col gap-[1rem]
	}
	.benefits{
		@apply flex flex-col gap-[1rem]
	}
	.redeem{
		@apply flex flex-col gap-[1rem]
	}

	/*-------FOOTER--------*/
	.footer{
		@apply bg-puti
	}
	.footer .container{
		@apply border-t-[1px] border-semento mt-[2rem] pt-[2rem] pb-[5rem]
	}
	.footer__wrapper{
		@apply border-b-[1px] border-semento pb-[3rem]
	}
	.footer__nav{
		@apply flex flex-col gap-[2rem] text-[1.1rem]
		lg:flex lg:flex-row lg:gap-[4rem]
	}
	.footer__nav .footer__content:nth-child(3){
		@apply lg:w-[12rem]
	}
	.footer__nav .footer__content:last-child{
		@apply lg:w-[12rem]
	}
	.footer__nav a{
		@apply flex flex-row justify-between
	}
	.footer__nav a i.open{
		@apply rotate-180
	}
	.footer__nav a i{
		@apply lg:hidden
	}
	.footer__nav ul.drop{
		@apply hidden
		lg:block
	}
	.footer__nav ul.drop.open{
		@apply block transition-all
	}
	.footer__nav ul.drop li{
		@apply my-[1.5rem] text-[0.8rem] text-semento
		lg:text-[1rem] lg:font-normal
	}
	.footer__nav ul.drop li:hover{
		@apply lg:text-maitim lg:transform lg:scale-[1.05]
	}
	.footer__content #oms{
		@apply lg:font-medium
	}
	.footer__contact{
		@apply bg-puti flex flex-col gap-[1.8rem] py-[2rem]
	}
	.footer__contact p{
		@apply text-[0.8rem] text-semento
	}
	.footer__icons{
		@apply flex gap-[1rem]
	}
	.footer__icons a i{
		@apply text-[1.7rem] text-maitim
		lg:p-[0.8rem] lg:rounded-full lg:bg-transparent
	}
	.footer__icons a i:hover{
		@apply lg:p-[0.8rem] lg:rounded-full lg:bg-gray-300 lg:origin-center lg:duration-[0.5s]
	}
	.footer__text{
		@apply flex flex-col gap-[1rem]
		lg:flex lg:flex-row
	}
	.footer__text a:hover{
		@apply lg:underline
	}
	.footer__text a:not(:last-child){
		@apply lg:border-r-2 lg:border-gray-500 lg:pr-[1rem]
	}

	/*--------------------------------------------------------------HOME PAGE-----------------------------------------------------------*/
	#top{
		@apply pt-[8rem]
	}
	#top .bkgd{
		@apply bg-leni  mx-auto
		lg:w-[90rem]
	}
	#top .cover__wrapper{
		@apply lg:flex lg:flex-row-reverse
	}
	.second{
		@apply py-[2rem]
	}
	.second .bkgd{
		@apply bg-lasalle mx-auto
		lg:w-[90rem]
	}
	.second .cover__text{
		@apply bg-lasalle text-puti
	}
	.second .cover__text a{
		@apply border-puti
	}
	.third .bkgd{
		@apply bg-indigagi mx-auto
		lg:w-[90rem]
	}
	.third .cover__wrapper{
		@apply lg:flex lg:flex-row-reverse
	}
	.third .cover__text{
		@apply bg-indigagi
	}
	.fourth{
		@apply py-[2rem] flex flex-col gap-[3rem]
		lg:pt-[2rem] lg:pb-[1rem]
	}
	.fourth .bkgd{
		@apply bg-bumble mx-auto
		lg:w-[90rem]
	}
	.fourth p{
		@apply text-[1rem] w-[25rem] mx-auto text-center
		lg:w-[42rem]
	}
	.fourth .cover__text{
		@apply bg-bumble
	}
	.cover__wrapper{
		@apply lg:flex lg:justify-center
	}
	.cover__wrapper img{
		@apply lg:w-[45rem]
	}
	.cover__text{
		@apply flex flex-col gap-[2rem] text-center p-[1.8rem]
		lg:w-[45rem] lg:my-auto
	}
	.cover__text h2{
		@apply text-[1.8rem] font-semibold
		lg:text-[3rem] lg:w-[15rem] lg:mx-auto
	}
	.second .cover__text h2{
		@apply lg:w-[30rem] lg:mx-auto
	}
	.third .cover__text h2{
		@apply lg:w-full lg:mx-0
	}
	.fourth .cover__text h2{
		@apply lg:w-full lg:mx-0
	}
	.cover__text p{
		@apply text-[1.4rem] font-semibold
		lg:w-[29rem] lg:mx-auto
	}
	.cover__text a{
		@apply mx-auto text-[1rem] font-semibold
	}
}